body {
    background-color: #f0f8ff; /* Fondo azul claro */
}

h1, h4 {
    color: #003366; /* Azul oscuro */
}

.btn-primary {
    background-color: #00509e; /* Azul medio */
    border-color: #00509e;
}

.table {
    color: #00509e; /* Azul medio */
}
